.sideMenuContainer {
  z-index: 10;
  position: absolute;
  width: 240px;
  height: 100%;
  background-color: slategray;
  display: none;
  box-shadow: 0 0 10px 0 black;
}
.sideMenuContent {
  color: white;
  padding: 20px;
  font-family: sans-serif;
}
.closeBtn {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
  padding: 10px;
}
/**
 * ----------------------------------------
 * slide-in-left
 * ----------------------------------------
 */
.slide-in-left {
  -webkit-animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * slide-out-left
 * ----------------------------------------
 */
.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-out-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /*opacity: 1;*/
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    /*opacity: 0;*/
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /*opacity: 1;*/
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    /*opacity: 0;*/
  }
}

/* Burger Icon Menu -------------------------- */


/*
div {
  height: 0;
  border: 1.5px solid #fff;
  width: 22px;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  background:#fff;
}*/
/*
div:nth-child(1) {
  top: 0;
}

div:nth-child(2) {
  top: 8px;
}

div:nth-child(3) {
  top: 16px;
}

div:nth-child(3):before {
  opacity: 0;
  animation: ball 1.5s linear infinite;
  content: '';
  border: 2px solid #fff;
  display: block;
  position: relative;
  top: 0.25px;
}
*/

#burger {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  cursor: pointer;
  background: transparent;
  border: 0;
}

#burger:hover {
  transition-delay: 100ms;
  transform: scale(1.1);
}

#burger:hover div:nth-child(3):before {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #F26451;
}

#burger:hover div {
  border: 2px solid #fff;
  height: 9px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
  animation: atom 300ms linear 1;
  width: 25px;
  top: 0;
  background:transparent;
}

#burger:focus {
  outline: 0;
}

#burger:hover div:nth-child(1) {
  transform: rotate(-33deg);
}

#burger:hover div:nth-child(2) {
  transform: rotate(90deg);
}

#burger:hover div:nth-child(3) {
  transform: rotate(33deg);
}

#burger:hover div:nth-child(3):before {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
;
}

#burger:active:hover div:nth-child(3):before,
#burger:active div:nth-child(3):before,
#burger:active div:nth-child(2) {
  opacity: 0;
  transition: all 200ms;
}

#burger:active div {
  border: 1.5px solid #fff;
  height: 0;
  border-radius: 0;
  margin-left: -1px;
  margin-top: 6px;
  animation: division 300ms linear 1;
  width: 25px;
  top: 0;
}

#burger:active div:nth-child(2) {
  width: 0;
}

#burger:active div:nth-child(3) {
  transform: rotate(45deg);
}

#burger:active div:nth-child(1) {
  transform: rotate(-45deg);
}

@keyframes atom {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes division {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  10% {
    left: 10%;
    top: -35%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 98%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 80%;
  }
  90% {
    left: 0;
    top: 60%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
}