.sideMenuContainer {
  z-index: 10;
  position: absolute;
  width: 240px;
  height: 100%;
  background-color: slategray;
  display: none;
  box-shadow: 0 0 10px 0 black;
}
.sideMenuContent {
  color: white;
  padding: 20px;
  font-family: sans-serif;
}
.side-menu-btn-close {
  position: absolute;
  top: 22px;
  right: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
}
.side-menu-btn-close:hover {
  background-color: darkgrey;
  border-radius: 2px;
  cursor: pointer;
}
.side-menu-btn-close:active {
  box-shadow: 0 0 3px 0 white;
}
.vertical-center {
  vertical-align: middle;
}
.items-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.side-menu-title {
  font-size: 20px;
}
.side-menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.side-menu-item:hover {
  background-color: darkgrey;
  border-radius: 2px;
  border: 1px solid white;
  padding-left: 10px;
  cursor: pointer;
  /*box-shadow: 0 0 6px 0 black;*/
}
.side-menu-item a {
  text-decoration: none;
  color: white;
}
.icon-item {
  padding-bottom: 2px;
  padding-right: 10px;
  vertical-align: middle;
}
/**
 * ----------------------------------------
 * slide-in-left
 * ----------------------------------------
 */
.slide-in-left {
  -webkit-animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * slide-out-left
 * ----------------------------------------
 */
.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-out-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
