.top-menu {
  position: absolute;
  z-index: 1;
  padding: 5px;
  width: 100%;
  background-color: black;
  opacity: .4;
  border-bottom: 1px solid white;
  text-align: center;
}
.top-menu-item {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
}
.top-menu-item:hover {
  color: white;
  background-color: grey;
}
.top-menu-item:active {
  color: white;
  background-color: lightgrey;
  box-shadow: 0 0 10px 1px white;
}
.top-menu-icon-left {
  float: left;
  vertical-align: middle;
  margin-top: 3px;
  margin-bottom: 5px;
  padding: 6px;
  margin-right: 7px;
  cursor: pointer;
}
.top-menu-icon-left:hover {
  float: left;
  background-color: dimgrey;
  border: 1px solid white;
  padding: 5px;
  border-radius: 2px;
}
.top-menu-icon-left:active {
  box-shadow: 0 0 1px 1px white;
}
.top-menu-icon-right {
  float: right;
  vertical-align: middle;
  margin-top: 3px;
  margin-bottom: 5px;
  padding: 6px;
  margin-right: 7px;
  cursor: pointer;
}
.top-menu-icon-right:hover {
  float: right;
  background-color: dimgrey;
  border: 1px solid white;
  padding: 5px;
  border-radius: 20px;
}
.top-menu-icon-right:active {
  box-shadow: 0 0 1px 1px white;
}