/* Needed to show the "Enter VR" icon */
a-scene {position: absolute; height: 100%; width: 100%}

/*todo: las clases fade deberian ir en el componente loader*/
/* Fade in */
.fade-in {
  -webkit-animation: fade-in 0.4s ease both;
  animation: fade-in 0.4s ease both
}
@-webkit-keyframes fade-in {
  from {opacity: 0} to {opacity: 1}
}
@keyframes fade-in {
  from {opacity: 0} to {opacity: 1}
}

/* Fade out */
.fade-out {
  -webkit-animation: fade-out 0.4s ease-out both;
  animation: fade-out 0.4s ease-out both;
}
@-webkit-keyframes fade-out {
  0% {opacity: 1} 100% {opacity: 0}
}
@keyframes fade-out {
  0% {opacity: 1} 100% {opacity: 0}
}

/* Fade in long */
.fade-in-long {
  -webkit-animation: fade-in-long 2s ease both;
  animation: fade 2s ease both
}
@-webkit-keyframes fade-in-long {
  from {opacity: 0} to {opacity: 1}
}
@keyframes fade-in-long {
  from {opacity: 0} to {opacity: 1}
}